name: Scrape and Plot Team xG Rolling Average
on:
  workflow_call:
    inputs:
      division:
        description: Integer corresponding to division for which to generate plot
        type: string
        default: '0'

    outputs:
      plot_artifact_name: 
        value: ${{ jobs.plot-graphs.outputs.plot_artifact_name }}

  workflow_dispatch:
    inputs:
      division:
        description: Integer corresponding to division for which to generate plot
        type: string
        default: '0'

env:
  PLOTS_ARTIFACT_NAME: 'team-rolling-avg-plots'
  MOTHERDUCK_TOKEN: ${{ secrets.MOTHERDUCK_TOKEN_READ_ONLY }}

jobs:
  plot-graphs:
    runs-on: ubuntu-latest
    container:
      image: sohraub/chart-plotter:main
    ###
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          repository: hockey-stats/chart-plotting
      #
      - name: Setup Python
        uses: actions/setup-python@v4
        with: 
          python-version: '3.12'
          cache: 'pip'
      #
      - name: Install Requirements
        run: |
          pip install -r requirements.txt;
      #
      - name: Generate Charts
        env: 
          PYTHONPATH: ${{ github.workspace }}
        run: |
          python3 hockey/team_plots/plot_rolling_avg_line_plot.py -n 10 -d ${{ inputs.division }}
      #
      - name: Save Charts as Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: ${{ env.PLOTS_ARTIFACT_NAME }}
          path: ./*mp4
          retention-days: 1
      #
      - name: Set Output for Artifact Name 
        id: set-output
        run: echo "plot_artifact_name=$PLOTS_ARTIFACT_NAME" >> "$GITHUB_OUTPUT"
    ###
